@import url("https://fonts.googleapis.com/css2?family=Tinos:ital@1&display=swap");

header {
  font-family: "Tinos", serif;
}
.purchase-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "header header header header"
    "section section aside aside"
    "footer footer footer footer ";
}
.product-header {
  grid-area: header;
}
.product-img {
  grid-area: section;
}
.product-form {
  grid-area: aside;
}
.product-description {
  grid-area: footer;
}

@media only screen and (max-width: 720px) {
  .purchase-container {
    display: flex;
    flex-direction: column;
  }
}
